* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  /* color: #fff; */
  font-size: 18px;
  font-weight: 400;
  max-width: 100%;
}

.body-dark {
  background-color: hsl(235, 21%, 11%);
}

.body-light {
  background-color: "hsl(0, 0%, 98%)";
}

main {
  display: flex;
  flex-direction: column;
}

.title-div {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* margin-bottom: 5px; */
}

.iconon {
  display: inline;
}

.iconoff {
  display: none;
}

.bgimgon {
  display: inline;
}

.bgimgoff {
  display: none;
}

h1 {
  padding: 5px;
  color: #fff;
  letter-spacing: 18px;
  font-weight: 700;
}

.img {
  width: 25px;
  height: 25px;
  padding: 5px;
}

img {
  width: 100%;
}

.center-div {
  position: absolute;
  top: 10%;
  left: 32%;
  /* border: 1px solid #000; */
  width: 36%;
}

.task-submit {
  /*form to create a todo */
  all: unset;
  box-sizing: border-box;
  color: hsl(234, 11%, 52%);
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
}

::placeholder {
  font-size: 11px;
}

.task-lists {
  display: flex;
  flex-direction: column;
  /* border-radius: 200px; */
}

.tasks {
  all: unset;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  padding: 15px;
  border-bottom: solid 0.1px hsl(234, 11%, 52%);
  font-size: 16px;
}

.bottom-div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin-bottom: 40px;
}

button {
  display: inline-block;
  all: unset;
  font-size: 11px;
  color: hsl(234, 11%, 52%);
  cursor: pointer;
}

.light-mode-hover:hover {
  color: hsl(235, 24%, 19%);
}
.dark-mode-hover:hover {
  color: #cacece;
}

.active-btn-color {
  color: blue;
}

.task-description {
  display: inline-block;
  align-self: center;
}

p {
  color: hsl(234, 11%, 52%);
}

.p {
  font-size: 11px;
  color: hsl(234, 11%, 52%);
  text-align: center;
}

.checkbox {
  appearance: none;
  border: 1px solid #cacece;
  padding: 9px;
  margin: 0;
  margin-right: 20px;
  border-radius: 100%;
  display: inline-block;
}

.checkbox:checked {
  background: url(images/icon-check.svg) no-repeat;
  background-position: center;
  border: 1px solid;
  background-color: hsl(192, 100%, 67%);
  /* background-color: linear-gradient(white, black); doesn't work :( */
  padding: 9px;
  border-radius: 100%;
}

.checkbox:hover {
  border: 1px solid
    linear-gradient(180deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.ts-light {
  background-color: hsl(0, 0%, 98%);
}

.ts-dark {
  background-color: hsl(235, 24%, 19%);
}
.light-mode-font {
  color: hsl(235, 19%, 35%);
}

.dark-mode-font {
  color: hsl(234, 11%, 52%);
}
